:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.divider {
    flex: 1 1 auto;
}

mat-drawer-container {
    flex: 1 1 auto;

    mat-drawer-content {
        padding: 1rem;
    }

    button {
        width: 500px;
        margin-top: 1rem;
    }

    mat-list {
        width:  500px;
    }
}
